.header {
  padding: 12px;
  border-bottom: 1px solid #bebfc5;
  top: 0;
}

.navbar {
  display: flex;
  justify-content: space-between;
}

.nav-menu {
  display: flex;
}

.nav-link {
  margin: 0 8px;
}

.border-left {
  border-left: 1px solid #bebfc5;
}

.section {
  margin: 24px;
}

.list {
  list-style-type: none;
}

/* Rocket */
.rocket-row {
  display: flex;
  margin: 18px 8px;
}

.rocket-img {
  flex: 1;
}

.rocket-img img{
  width: 200px;
}

.rocket-desc {
  flex: 3;
  line-height: 1.5;
  margin-left: 12px;
}

.btn {
  background-color: #025fac;
  padding: 8px;
  border: none;
  outline: none;
  color: #fff;
  border-radius: 5px;
}

.badge {
  background-color: #025fac;
  color: #fff;
  padding: 4px;
  margin-right: 3px;
  border-radius: 4px;
}

.cancel-btn {
  border: 1px solid #414142;
  padding: 8px;
}

/* profile */
.profile {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.profile-section {
  flex: 1;
  margin: 18px;
}

.profile-list {
  width: 100%;
}

.profile-title {
  margin: 8px 0;
}

.list-item {
  border: 1px solid #bebfc5;
  padding: 8px;
}

/* mission */
.width-10 {
  width: 10%;
}

.width-70 {
  width: 70%;
}

.mission-table {
  width: 100%;
}
